/*Estilos Generales*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header body footer {
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #EFEEEA; }

a {
    text-decoration: none;
    color: $colorTexto;
}
