/* Header  */
header {
    
    .navbar {
        width: 100%;
        background-color: #efe8e4!important;
        
        .navbar-brand {
            color: $colorPrincipal;
            font-weight: bold;
            font-size: 30px;
            display: flex;
            padding-left: 20px;
        }
        .navbar-collapse {
            justify-content: center;
        }
    .nav-item{
        margin-right: 1rem;
    }
        .nav-link {
            display: block;
            color: #000;
            font-size: 18px;
            font-family: $fuenteTitulos;
            font-weight: 300;
            transition: all .4s ease;
            padding: 0.5rem;

            &:hover {
                color: #fda94f !important;
                transform: scale(1.2);
            }
        }

    }
}
