@import "variables";

@import "generales";
@import "header";


/* INDEX  */
.bienvenida {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("../imagenes/imagenprincipalindex.jpg") center/cover no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $fuenteTitulos;

    .container {
        max-width: 700px;

        .tituloPrincipal {
            text-transform: uppercase;
            font-style: italic;
            font-weight: bold;
            color: #e7e5e4;
            padding-bottom: 20px;
            margin: 40px auto;
            font-size: 35px;
            color: #f2b675;
            padding-top: 20px;
            padding-bottom: 15px;
            text-align: center;
        }

        .parrafo-principal {
            padding-bottom: 20px;
            font-family: $fuenteTitulos;
            font-size: 25px;
            color: #e7e5e4;
            margin: 40px auto;

        }

        .boton-light {
            display: inline-block;
            font-size: 17px;
            color: #fff;
            padding: 13px 20px;
            border-radius: 10px;
            background: #e7ad6f;
            text-decoration: none;

            &:hover {
                opacity: 0.6;
            }
        }
    }
}


.servicios {
    padding: 2rem 0;

    h2 {
        text-align: center;
        font-size: 30px;
        font-family: $fuenteTitulos;
        font-weight: 600;
        color: #000;
        margin-bottom: 20px;
    }

    .contenedor-servicios {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        .service {
            text-align: center;
            background-color: #f2b675;
            padding: 1rem;
            border-radius: 5px;

            .service-icon {
                display: flex;
                justify-content: center;
                gap: 10px;
                margin-bottom: 1rem;
                align-items: center;
            }

            .subtitulos {
                font-size: 20px;
                font-family: $fuenteTitulos;
                color: #2e2e2e;
            }

            .service-content {

                p {
                    margin-bottom: .7rem;
                    font-size: 17px;
                    font-family: $fuenteTextos;
                }

                .btn-mas {
                    background-color: beige;
                    padding: 0.5rem 0.7rem;
                    border-radius: 5px;
                    display: block;
                    max-width: 100px;
                    margin: auto;
                    font-weight: bold;
                    color: #0f0d0b;
                    text-decoration: none;
                    font-family: $fuenteTitulos;
                    font-size: 15px;

                    &:hover {
                        opacity: 0.6;
                    }
                }
            }

        }

    }
}

/* TESTIMONIOS  */
.testimonios {
    background: url(../imagenes/playa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;

    h2 {
        font-size: 30px;
        font-family: $fuenteTitulos;
        font-weight: 600;
        color: #000;
        padding-top: 25px;
        margin-bottom: 20px;
    }

    .col-md-4 img {
        width: 110px;
        height: 110px;
        border-radius: 100%;
        margin-bottom: 1rem;
    }

    .card {
        .card-header {
            background-color: #efe8e4;
        }

        .card-body {
            .parrafotestimonio {
                font-size: 18px;
                color: #2a2626;
                font-weight: 200;
                font-family: $fuenteTextos;
                min-height: 200px;
            }

            .blockquote-footer {
                color: #000;
                font-size: 16px;
                padding: 10px;
                font-family: $fuenteTextos;
            }

        }
    }


}

/* FOOTER */
.footer{
    background-color: #fceed8f2;
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        
        .logo-footer {
            text-align: center;

            a {
                text-align: center;
                font-size: 30px;
                font-weight: bold;
                color: #f6a247;
                font-weight: 700;
            }
        }

        .menu-footer {
            ul {
                list-style: none;
                text-align: center;

                a {
                    color: #1d1d1c;
                    font-family: $fuenteTitulos;
                    font-size: 17px;
                    font-weight: 600;
                }
            }
        }
    }

    .redes-sociales {
        margin-top: 0px;
        padding-top: 0px;
        text-align: center;
        justify-items: center;
        justify-content: center;

        h4 {
            color: #000;
            text-align: center;
            margin: 20px auto;
            font-family: $fuenteTitulos;
            font-size: 17px;
        }

        .iconos-redes-sociales {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 0px;
            margin: 0px;

            a {
                color: navy;
                margin-right: 50px;
                margin: 30px;
                margin-top: 0px;
                padding-top: 20px;
                padding-bottom: 15px;
                font-size: 23px;

                &:hover {
                    color: grey;
                    transform: scale(1.4);
                    transition: all 0.5s;
                }
            }
        }

    }

    .copyright {
        background-color: #000;
        text-align: center;
        justify-content: center;
        padding: 1rem 0;

        .copyright-text {
            color: #fff;
            margin-bottom: 0;
            font-size: 16px;
            font-family: $fuenteTitulos;
            text-align: center;
        }
    }
}

/*NOSOTROS*/

.bannerNosotros {
    display: flex;
    justify-content: center;
    background-color: #f2b675;
    color: #e7e5e4;
    height: 200px;
    text-shadow: #0f0d0b 0.1em 0.1em 0.2em;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: $fuenteTitulos;
    font-size: 40px;
    font-weight: 700;
}

.textoNosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 50px;

    .titunosotros {
        font-family: "Montserrat Alternates", sans-serif;
        font-size: 30px;
        color: #2F2A26;
        font-weight: 700;
    }

.texto1 {
    font-family: $fuenteTextos;
    color: #2a2a29;
    text-justify: center;
    text-align: center;
    line-height: 1.5;
    padding-top: 10px;
    font-size: 18px;
}
}

.galeriaNosotros {
    margin-bottom: 3rem;
    margin-top: 6vw;
    transition: 1s;

    &:hover {
        filter: drop-shadow(0 0.2vh 0.3vh #2F2A26);
    }
}

.d-block {
    height: 500px;
    width: 100%;
}

/*SERVICIOS*/
.bannerServicios {
    display: flex;
    justify-content: center;
    background-color: #f2b675;
    color: #e7e5e4;
    height: 200px;
    text-shadow: #0f0d0b 0.1em 0.1em 0.2em;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: $fuenteTitulos;
    font-size: 40px;
    font-weight: 700;
}

.pagina-servicios {
    background-color: #EFEEEA;

    article {
        text-align: center;
        padding: 1rem;
        background-color: #EFEEEA;
        margin-bottom: 1rem;
        color: #000;

        .titulos-Servicios {
            font-size: 22px;
            color: #b0acab;
            font-weight: 700;
            font-family: $fuenteTitulos;
            padding-bottom: 15px;
        }

        .parrafoServicios {
            font-size: 17px;
            font-family: $fuenteTextos;
            color: #2F2A26;
            padding-bottom: 15px;
        }

        .img-fluid {
            width: 700px;
            height: 200px;
            object-fit: cover;
        }
    }
}

/*HABITACIONES*/
.bannerHabitaciones {
    display: flex;
    justify-content: center;
    background-color: #f2b675;
    color: #e7e5e4;
    height: 200px;
    text-shadow: #0f0d0b 0.1em 0.1em 0.2em;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: $fuenteTitulos;
    font-size: 40px;
    font-weight: 700;
}

.texto-Habitaciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 50px;

    .tituhabitacion {
        font-family: $fuenteTitulos;
        font-size: 30px;
        color: #2F2A26;
        font-weight: 700;
    }

    .parrafo-habitacion {
        font-family: $fuenteTextos;
        color: #2F2A26;
        text-justify: center;
        text-align: center;
        line-height: 1.5;
        padding-top: 10px;
        font-size: 17px;
    }
}


.imagenHabitaciones {
    width: 460px;
    object-fit: cover;
    height: 320px;

}

.habitaciones-info {
    .habitacion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 3rem 0;

        .info {
            text-align: center;

            .tipohabitacion {
                font-size: 22px;
                color: #b0acab;
                font-weight: 700;
                font-family: $fuenteTitulos;
            }

            ul {
                font-family: $fuenteTextos;
                font-size: 16px;
                font-weight: 200;
                color: #2F2A26;
                list-style: none;
                padding: 0;

                li {
                    margin-bottom: .5rem;
                }
            }

            a {
                display: block;
                max-width: 160px;
                margin: 1rem auto;
                background-color: #f2b675;
                padding: 1rem;
                color: #fff;
                border-radius: 5px;
                text-decoration: none;
            }
        }
    }

    .habitacion:nth-child(2) img {
        order: 2;
    }
}

/*CONTACTOS*/
.bannerContacto {
    display: flex;
    justify-content: center;
    background-color: #f2b675;
    color: #e7e5e4;
    height: 200px;
    text-shadow: #0f0d0b 0.1em 0.1em 0.2em;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: $fuenteTitulos;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 48px;
}

.contacto {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
           
            label {
                display: block;
            }

            p {
                margin: 0;
                padding: 1em;
            }

            .block {
                grid-column: 1 / 3;
            }

            button,
            input,
            textarea {
                width: 100%;
                padding: .7em;
                border: none;
                background: none;
                outline: 0;
                color: #000;
                border-bottom: 1px solid #f2b675;

            }

            button {
                background: #f2b675;
                border: 0;
                padding: 1em;

                &:hover,
                &:focus {
                    background: #100c09;
                    color: #fff;
                    transition: background-color 1s ease-out;
                    outline: 0;

                }
            }
        }
    }
}

.contact-info {
    background: #f2b675;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
        list-style: none;
        padding: 0;
    }

    h4,
    ul,
    p {
        text-align: center;
        margin: 0 0 1rem 0;
        font-family: $fuenteTextos;
        font-size: 17px;
    }
}

@media screen and (max-width: 767px) {

    /* PAGINA INDEX */
    header .menu {
        align-items: center;
    }

    .menu ul {
        display: none;
    }

    header .menu-bar {
        display: block;
        grid-column: 8/9;
    }

    header .menu-bar i {
        font-size: 30px;
    }

    header .nav-link{
        text-align: center;
    }

    .footer .container {
        grid-template-columns: 1fr;
    }

    .servicios .contenedor-servicios {
        grid-template-columns: 1fr;
    }

    .servicios .service h3 {
        font-size: 26px;
    }

    .servicios .service p {
        font-size: 22px;
        margin-bottom: 1.5rem;
    }

    .servicios .service a {
        font-size: 20px;
    }

    .testimonios .container {
        grid-template-columns: 1fr;
    }

    .testimonios .testimonial-content {
        font-size: 22px;
    }

    /* PAGINA CONTACTO */
    .contacto .container {
        grid-template-columns: 1fr;
    }

    .contacto .contact-info {
        padding: 1rem 0;
        margin-top: 2rem;
    }

    /* PAGINA SERVICIOS */
    .pagina-servicios article {
        text-align: center;
        padding: 1rem;
        background-color: #EFEEEA;
        margin-bottom: 1rem;
        color: #000;
    }

    /* PAGINA HABITACIONES */
    .habitaciones-info {
        .habitacion {
            display: block;

            .info {
                margin-top: 2rem;
            }
        }
    }
}


/* MEDIAQUERY PARA TABLETS */
@media screen and (min-width: 768px) and (max-width:1023px) {
    header .menu {
        align-items: center;
    }

    .menu ul {
        display: none;
    }

    header .menu-bar {
        display: block;
        grid-column: 8/9;
    }

    header .menu-bar i {
        font-size: 30px;
    }

    /* PAGINA SERVICIOS*/
    .servicios .contenedor-servicios {
        grid-template-columns: repeat(2, 1fr);
    }

    .pagina-servicios {
        .parrafoServicios {
            min-height: 450px;
        }
    }

}